name: Lint and Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main

concurrency:
  group: test-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  js_lint:
    name: Run JS Linting
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: Install
        run:  npm ci
      - name: Lint
        run: npm run lint
      - name: Prettier
        run: npm run prettier:check
